In [1]:
import numpy as np
import pandas as pd
import nltk 
from nltk.corpus import stopwords
import string

In [2]:
df = pd.read_csv('spam.csv')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
#printing the column and rows
df.shape

(5572, 5)

In [4]:
#printing the coulmn names
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [5]:
df = df[['v1','v2']]
df.rename(columns={'v1': 'label', 'v2': 'message'}, inplace=True)
df = df.replace(to_replace=['spam', 'ham'], value=[0, 1])
df.head(12)

    label                                            message
0       1  Go until jurong point, crazy.. Available only ...
1       1                      Ok lar... Joking wif u oni...
2       0  Free entry in 2 a wkly comp to win FA Cup fina...
3       1  U dun say so early hor... U c already then say...
4       1  Nah I don't think he goes to usf, he lives aro...
5       0  FreeMsg Hey there darling it's been 3 week's n...
6       1  Even my brother is not like to speak with me. ...
7       1  As per your request 'Melle Melle (Oru Minnamin...
8       0  WINNER!! As a valued network customer you have...
9       0  Had your mobile 11 months or more? U R entitle...
10      1  I'm gonna be home soon and i don't want to tal...
11      0  SIX chances to win CASH! From 100 to 20,000 po...

In [6]:
#dropping duplicates
df.drop_duplicates('message',keep=False,inplace=True)

In [7]:
#new shpae after dropping
df.shape

(4888, 2)

In [8]:
# printing the missing data
print(df.isnull().sum())

label      0
message    0
dtype: int64

In [9]:
# downloading the stopwords package
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\SNEHA
[nltk_data]     PANDIT\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [10]:
def process_text(text):    
    #removing punctuation
    words = [word for word in text if word not in string.punctuation]
    words = ''.join(words)
    
    #removing stopwords
    clean_words = [word.lower() for word in words.split() if word.lower() not in stopwords.words('english')]
    
    return clean_words

In [11]:
# applying the function on text coulmn
# Pandas.apply allow the users to pass a function and apply it on every single value of the Pandas series.

df['message']=df['message'].apply(process_text)

In [12]:
df['message'].head(10)

0     [go, jurong, point, crazy, available, bugis, n...
1                        [ok, lar, joking, wif, u, oni]
3         [u, dun, say, early, hor, u, c, already, say]
4     [nah, dont, think, goes, usf, lives, around, t...
5     [freemsg, hey, darling, 3, weeks, word, back, ...
6     [even, brother, like, speak, treat, like, aids...
10    [im, gonna, home, soon, dont, want, talk, stuf...
13    [ive, searching, right, words, thank, breather...
14                                       [date, sunday]
15    [xxxmobilemovieclub, use, credit, click, wap, ...
Name: message, dtype: object

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
# converting collection of text into matrix of tokens

message_bow = CountVectorizer(analyzer = process_text).fit_transform(df['message'])

In [15]:
message_bow[2]

<1x4843 sparse matrix of type '<class 'numpy.int64'>'
	with 1 stored elements in Compressed Sparse Row format>

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(message_bow,df['label'],test_size=0.3,random_state=0)

In [20]:
x_train.shape

(3421, 4843)

In [21]:
x_test.shape

(1467, 4843)

In [17]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(x_train,y_train)

In [18]:
#testing the accuracy of our model
from sklearn.metrics import r2_score,accuracy_score
pred = classifier.predict(x_test)
print(accuracy_score(y_test,pred))

0.89093387866394